:root {
  --gray-100: #b1b1b1;
  --gray-200: #8a8a8a;
  --gray-300: #757575;
  --gray-400: #404040;
  --black-100: #202020;
  --black-200: #222222;
  --white-100: #ffffff;
  --white-200: #efefef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--white-100);
}

body.dark-theme {
  --black-100: #efefef;
  --gray-400: #efefef;
  --white-100: #222222;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  height: fit-content;
  width: fit-content;
}

/* DOM */
.heading-sun-icon {
  fill: var(--black-100);
  cursor: pointer;
  min-width: 22px;
  min-height: 22px;
}

.heading-moon-icon {
  fill: var(--black-100);
  cursor: pointer;
  min-width: 22px;
  min-height: 22px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  padding: 0 16px;
}

/* Heading */
.heading {
  padding: 28.2px 12px 28.2px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.heading-text {
  font-size: 22px;
  font-weight: 500;
  color: var(--black-100);
}

/* Add tasks form */
.add-tasks-form {
  border: 1px solid var(--gray-100);
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 7.6px 12px 7.6px 12px;
  background-color: transparent;
  border-radius: 10px;
  margin-bottom: 34px;
  position: relative;
}

.add-task-input {
  border: none;
  background-color: transparent;
  font-size: 15px;
  line-height: 15px;
  width: 100%;
  max-width: 100%;
  margin-right: 13px;
  color: var(--gray-400);
}

.add-task-input:focus {
  outline: none;
}

.add-task-input::placeholder {
  color: var(--gray-200);
}

.add-task-arrow-up-icon {
  fill: var(--gray-200);
  pointer-events: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.arrow-up-enable {
  fill: var(--gray-400);
  pointer-events: all;
}

.main-tasks-container {
  padding-left: 6px;
  padding-right: 12px;
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}

.no-tasks-text {
  font-size: 20px;
  font-weight: 500;
  color: var(--gray-200);
  opacity: 0.5;
  justify-content: center;
  display: flex;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  row-gap: 26.8px;
}

.task {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-side {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 6px;
  position: relative;
  width: 100%;
}

.task-circle-icon {
  cursor: pointer;
  fill: var(--gray-300);
  min-width: 22px;
  min-height: 22px;
}

.task-input {
  border: none;
  font-size: 15px;
  background-color: transparent;
  width: 100%;
  color: var(--gray-400);
}

.task-input:focus {
  outline: none;
}

.task-trash-icon {
  margin-left: 12px;
  cursor: pointer;
  fill: var(--gray-300);
  min-width: 22px;
  min-height: 22px;
}

.marked-tasks-container {
  display: flex;
  flex-direction: column;
  row-gap: 26.8px;
}

.marked-task {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.marked-task-circle-icon {
  cursor: pointer;
  fill: var(--gray-200);
  min-width: 22px;
  min-height: 22px;
}

.marked-task .left-side .task-input {
  text-decoration: line-through;
  color: var(--gray-200);
}

.marked-task-trash-icon {
  margin-left: 12px;
  cursor: pointer;
  fill: var(--gray-200);
  min-width: 22px;
  min-height: 22px;
}
