:root {
  --bg-color: #fff;
  --heading-text: #202020;
  --task-input-color: #404040;
  --icon-color: #6c6c6c;
  --add-task-input-border-color: #b1b1b1;
  --add-task-input-color: #404040;
  --no-task-text-color: #404040;
  --heading-icon-color: #202020;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--bg-color);
}

body.dark-theme {
  --bg-color: #222222;
  --heading-text: #efefef;
  --task-input-color: #efefef;
  --add-task-input-color: #efefef;
  --heading-icon-color: #efefef;
  --no-task-text-color: #efefef;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  height: fit-content;
  width: fit-content;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  padding: 0 16px;
}

/* Heading */

.heading {
  padding: 28.2px 12px 28.2px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.heading-text {
  font-size: 22px;
  font-weight: 500;
  color: var(--heading-text);
}

.heading-moon-icon {
  color: var(--heading-icon-color);
  cursor: pointer;
  font-size: 20px !important;
}

/* Form add tasks */

.add-tasks-form {
  border: 1px solid var(--add-task-input-border-color);
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 7.6px 12px 7.6px 12px;
  background-color: transparent;
  border-radius: 10px;
  margin-bottom: 34px;
  position: relative;
}

.add-task-input {
  border: none;
  background-color: transparent;
  font-size: 15px;
  line-height: 15px;
  width: 100%;
  max-width: 100%;
  margin-right: 13px;
  color: var(--add-task-input-color);
}

.add-task-input:focus {
  outline: none;
}

.add-task-input::placeholder {
  color: var(--task-input-color);
  opacity: 0.7;
}

.add-task-arrow-up-icon {
  color: var(--icon-color);
  opacity: 0.5;
  pointer-events: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-size: 20px !important;
}

.arrow-up-enable {
  opacity: 1;
  pointer-events: all;
}

.main-tasks-container {
  padding-left: 6px;
  padding-right: 12px;
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}

.no-tasks-text {
  font-size: 20px;
  font-weight: 500;
  color: var(--no-task-text-color);
  opacity: 0.5;
  justify-content: center;
  display: flex;
}

/* Tasks */

.tasks-container {
  display: flex;
  flex-direction: column;
  row-gap: 26.8px;
}

.task {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-side {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 6px;
  position: relative;
  width: 100%;
}

.task-circle-icon {
  font-size: 20px !important;
  cursor: pointer;
  color: var(--icon-color);
}

.task-input {
  border: none;
  font-size: 15px;
  background-color: transparent;
  width: 100%;
  color: var(--task-input-color);
}

.task-input:focus {
  outline: none;
}

.task-trash-icon {
  margin-left: 12px;
  font-size: 20px !important;
  color: var(--icon-color);
  cursor: pointer;
}

/* Marked Tasks */

.marked-tasks-container {
  display: flex;
  flex-direction: column;
  row-gap: 26.8px;
}

.marked-task {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 0.5;
}

.marked-task-circle-icon {
  font-size: 20px !important;
  cursor: pointer;
  color: var(--icon-color);
}

.marked-task .left-side .task-input {
  text-decoration: line-through;
}

.marked-task .marked-task-trash-icon {
  margin-left: 12px;
  font-size: 20px !important;
  cursor: pointer;
  color: var(--icon-color);
}
