:root {
  --gray-100: #b1b1b1;
  --gray-200: #8a8a8a;
  --gray-300: #707070;
  --black-100: #202020;
  --black-200: #222222;
  --white-100: #ffffff;
  --white-200: #efefef;
  --white-0: rgba(255, 255, 255, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'GeistVariable', serif;
}

body {
  background-color: var(--white-100);
}

body.dark-theme {
  --black-100: #ffffff;
  --white-100: #222222;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  height: fit-content;
  width: fit-content;
}

/* DOM */
.todo-list-header-sun-icon {
  fill: var(--gray-300);
  cursor: pointer;
  min-width: 22px;
  min-height: 22px;
}

.todo-list-header-moon-icon {
  fill: var(--gray-300);
  cursor: pointer;
  min-width: 22px;
  min-height: 22px;
}

.todo-list {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  padding: 0 16px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Header */
.todo-list-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding-right: 12px;
}

.todo-list-header-heading {
  font-size: 20px;
  font-weight: 500;
  color: var(--black-100);
}

.todo-list-header-moon-icon-wrapper {
  display: flex;
  height: fit-content;
}

/* Add tasks form */
.todo-list-add-task-form {
  border: 1px solid var(--gray-100);
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 0 12px;
  background-color: transparent;
  border-radius: 10px;
  margin-bottom: 25px;
  position: relative;
  height: 42px;
}

.todo-list-add-task-form-input {
  border: none;
  background-color: transparent;
  font-size: 15px;
  line-height: 15px;
  width: 100%;
  max-width: 100%;
  margin-right: 13px;
  color: var(--black-100);
}

.todo-list-add-task-form-input:focus {
  outline: none;
}

.todo-list-add-task-form-input::placeholder {
  color: var(--gray-200);
}

.todo-list-add-task-form-arrow-up-icon {
  fill: var(--gray-200);
  pointer-events: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.todo-list-add-task-form-arrow-up-enable {
  fill: var(--black-100);
  pointer-events: all;
}

.todo-list-main-tasks-wrapper {
  padding-left: 6px;
  padding-right: 12px;
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}

.todo-list-no-tasks-wrapper {
  margin: 0 auto;
}

.todo-list-no-tasks-text {
  font-size: 20px;
  font-weight: 500;
  color: var(--gray-200);
}

/* Tasks Wrapper */
.todo-list-tasks-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
}

.todo-list-task {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.todo-list-task-left-side {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 6px;
  width: 100%;
}

.todo-list-task-circle-icon {
  cursor: pointer;
  fill: var(--gray-300);
  min-width: 22px;
  min-height: 22px;
}

.todo-list-task-input {
  border: none;
  font-size: 15px;
  background-color: transparent;
  width: 100%;
  color: var(--black-100);
}

.todo-list-task-input:focus {
  outline: none;
}

.todo-list-task-input-shadow {
  width: 32px;
  height: 15px;
  background: linear-gradient(to right, var(--white-0) 50%, var(--white-100) 100%);
  position: absolute;
  right: 34px;
  pointer-events: none;
}

.todo-list-task-trash-icon {
  margin-left: 12px;
  cursor: pointer;
  fill: var(--gray-300);
  min-width: 22px;
  min-height: 22px;
}

/* Marked Tasks Wrapper*/
.todo-list-marked-tasks-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 26.8px;
}

.todo-list-marked-task {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.todo-list-marked-task-left-side {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 6px;
  width: 100%;
}

.todo-list-marked-task-circle-icon {
  cursor: pointer;
  fill: var(--gray-200);
  min-width: 22px;
  min-height: 22px;
}

.todo-list-marked-task-input {
  border: none;
  font-size: 15px;
  background-color: transparent;
  width: 100%;
  color: var(--gray-200);
  text-decoration: line-through;
}

.todo-list-marked-task-input:focus {
  outline: none;
}

.todo-list-marked-task-input-shadow {
  width: 32px;
  height: 15px;
  background: linear-gradient(to right, var(--white-0) 50%, var(--white-100) 100%);
  position: absolute;
  right: 34px;
  pointer-events: none;
}

.todo-list-marked-task-trash-icon {
  margin-left: 12px;
  cursor: pointer;
  fill: var(--gray-200);
  min-width: 22px;
  min-height: 22px;
}

.todo-list-delete-all {
  font-size: 14px;
  color: var(--black-100);
  cursor: pointer;
  font-weight: 500;
  margin: 0 auto;
}
