* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fff;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  height: fit-content;
  width: fit-content;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  padding: 0 16px;
}

/* Heading */

.heading {
  padding: 28.2px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.heading-text {
  font-size: 22px;
  font-weight: 500;
  color: #202020;
}

/* Form add tasks */

.add-tasks-form {
  border: 1px solid #b1b1b1;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 7.6px 12px 7.6px 12px;
  background-color: transparent;
  border-radius: 10px;
  margin-bottom: 34px;
  position: relative;
}

.add-task-input {
  border: none;
  background-color: transparent;
  font-size: 15px;
  line-height: 15px;
  width: 100%;
  max-width: 100%;
  margin-right: 13px;
  color: #404040;
}

.add-task-input:focus {
  outline: none;
}

.add-task-input::placeholder {
  color: #404040;
  opacity: 0.7;
}

.add-task-icon-arrow-up {
  color: #858585;
  opacity: 0.5;
  pointer-events: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.active-icon {
  opacity: 1;
  pointer-events: all;
}

.main-tasks-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}

.no-tasks-text {
  font-size: 20px;
  font-weight: 500;
  color: #404040;
  opacity: 0.5;
  justify-content: center;
  display: flex;
}

/* Tasks */

.tasks-container {
  display: flex;
  flex-direction: column;
  row-gap: 26.8px;
  padding-left: 6px;
  padding-right: 12px;
}

.task {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-side {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-side {
  column-gap: 6px;
  position: relative;
  width: 100%;
}

.task-icon-circle {
  font-size: 20px;
}

.task-input {
  border: none;
  font-size: 15px;
  background-color: transparent;
  width: 100%;
  color: #404040;
}

.task-input:focus {
  outline: none;
}

.task-icon-trash {
  margin-left: 12px;
  font-size: 18px;
}

/* Marked Tasks */

.marked-tasks-container {
  display: flex;
  flex-direction: column;
  row-gap: 26.8px;
  padding-left: 6px;
  padding-right: 12px;
}

.marked-task {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.marked-task .left-side {
  opacity: 0.5;
}

.marked-task-icon-circle {
  font-size: 20px;
}

.marked-task .left-side .task-input {
  text-decoration: line-through;
}

.marked-task .marked-task-icon-trash {
  opacity: 0.5;
  margin-left: 12px;
  font-size: 18px;
}

.marked-task .info-icon {
  opacity: 0.5;
  font-size: 18px;
}

.task-icon-circle,
.marked-task-icon-circle,
.task-icon-trash,
.marked-task-icon-trash,
.info-icon {
  cursor: pointer;
  color: #858585;
}
